header {
	background: url(images/Antonio-Soardes-header.jpg);
}

.dropdown-content img {
	width: 40px;
	height: auto;
	padding: 0;
	margin: 0;
}

.dropdown-content li {
	padding: 0;
	margin: 0;
	width: 60px;
}

h1 {
	font-size: 60px;
	text-align: center;
	font-family: 'Six Caps', sans-serif;
	font-weight: 300;
	color: #DC4F33;
}
header img {
	height: 225px;
	width: 250px;
	border: 5px solid white;
	margin-top: 50px;
	margin-left: 100px;
}
blockquote {
	font-family: 'Parisienne', cursive;
	text-align: center;
	font-size: 40px;
	margin-top: 35px;
	margin-bottom: 35px;

}

nav {
	background-color: black;

}
nav ul {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	font-family: 'Poiret One' , cursive;
}
nav li {
	display: inline;
	margin-left: 250px;
	font-size: 20px;
	font-family: 'Poiret One' , cursive;
	color: #DC4F33;
}
.boxed {
	border: 1px solid black;
	height: 60px;
	width: 1000px;
	font-family: 'Poiret One' , cursive;
	text-align: center;
	padding-right: 20px;
	font-size: 40px;
	font-weight: bold;
	margin-left: 50px;
}


a {
	color: #F1452A;
}

.image {
	position: relative;
  width: 100%;

}

* {box-sizing: border-box}

.boxset-row {
	position: relative;
	width: 100%;
	height: auto;

}
.boxset-row img {
	width:  400px;
    height: 300px;
}

.overlay {
position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 45.5%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  font-family: 'Poiret One' , cursive;
}

.boxset-row:hover .overlay {
  opacity: 1;
}
